# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/
.fleet/
.nova/
.zed/
*.swp

# Env / secrets
.env
.env.backup
.env.production
.env.local
.env.*.local
auth.json

# Dependencies / build
/node_modules
/vendor
/public/build
/public/hot
/public/storage

# Laravel
/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/logs/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/database/*.sqlite
.phpunit.result.cache
.phpunit.cache
.phpactor.json
Homestead.json
Homestead.yaml

# Misc
*.log
npm-debug.log*
yarn-error.log*
